/*$primary: #4682b4; // Steel Blue*/
/*$secondary: #e66000; // Burnt Orange*/
/*$secondary: #cc5500; // Burnt Orange*/
/*$warning: #b7960e; // Dark Yellow*/
/*$warning: #ffdf00; // Gold Yellow*/
/*$dark: #333333; // Very Dark Gray*/
/*$dark: #0d0f13; // Very Dark Blue*/
/*$dark: #0d0d0d; //Very Dark Charcoal*/
/*$dark: #000; // Black*/

$pink: #c6579a;
$purple: #7a4183;
$light-blue: #87cefa;
$blue: #2d2e83;
$light-green: #d1e231;
$green: #00bb8c;
$light-orange: #f4b350;
$orange: tomato;
$white: #fff;
$gray: #6c757d;
$black: #000;


/* Color schemes */
/*$light: #747474;*/
/*$primary: #05386b;
$secondary: #379683;
$warning: #f79e02;
$site-background: #fff;
$dark: #000;
$muted: #6c757d;*/

$primary: #001951;
$secondary: #02A6BE;
$warning: #213040;
$site-background: $white;
$muted: $gray;
$dark: $black;
$accent: $light-green;