$primary: #4682b4; // Steel Blue
$secondary: #e66000; // Burnt Orange
/*$secondary: #cc5500; // Burnt Orange*/
/*$warning: #b7960e; // Dark Yellow*/
$warning: #ffdf00; // Gold Yellow
$dark: #333333; // Very Dark Gray