<div class="col-md-6 {{ include.fs | default: 'col-xl-4' }} p-0 m-0 d-flex">
  <div class="card bg-{{ include.color | default: 'dark' }} mr-md-3 mb-md-3 pt-5 border-0 rounded-0 flex-wrap w-100">
    <div class="card-body text-center text-{{ include.text | default: 'light' }} {{include.accent | default: '' }}">
      <h2 class="display-5">{{ include.title }}</h2>
      <p class="lead">{{ include.subtitle }}</p>
    </div>
    {% if include.link contains "http://" or include.link contains "https://" %}
      <a href="{{ include.link }}" class="stretched-link"></a>
    {% else %}
      <a href="{{ include.link | relative_url }}" class="stretched-link link-style"></a>
    {% endif %} 
    <!-- <div class="bg-light box-shadow mx-auto overflow-hidden" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;"> -->
    <div class="mx-auto overflow-hidden" style="width: 80%; height: 200px;">
      <img src="/assets/images/{{ include.image | default: 'error.jpg' }}" class="img-fluid">
    </div>
  </div>
</div>