<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <a class="py-2" href="{{ '/about' | relative_url }}"><i class="fab fa-product-hunt fa-lg text-primary"></i></a>
      <small class="d-block mb-3 text-muted">© {{ "now" | date: "%Y" }}</small>
    </div>
    <div class="col-6 col-md">
      <h5>Navigation</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{{ '/' | relative_url }}">Home</a></li>
        <li><a class="text-muted" href="{{ '/about' | relative_url }}">About</a></li>
        <li><a class="text-muted" href="{{ '/posts' | relative_url }}">Posts</a></li>
        <li><a class="text-muted" href="{{ '/projects' | relative_url }}">Projects</a></li>
        <li><a class="text-muted" href="{{ '/songs' | relative_url }}">Songs</a></li>
        <li><a class="text-muted" href="{{ '/videos' | relative_url }}">Videos</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Featured</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{{ site.featured.project | relative_url }}">Project</a></li>
        <li><a class="text-muted" href="{{ site.featured.video | relative_url }}">Video</a></li>
        <li><a class="text-muted" href="{{ site.featured.song | relative_url }}">Song</a></li>
        <li><a class="text-muted" href="{{ site.featured.post }}">Post</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Social</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="https://www.linkedin.com/in/paul-j-anderson/"><i class="fab fa-linkedin fa-sm mr-2"></i>LinkedIn</a></li>
        <li><a class="text-muted" href="https://www.instagram.com/andepaulj/"><i class="fab fa-instagram fa-sm mr-2"></i>Instagram</a></li>
        <li><a class="text-muted" href="https://twitter.com/andepaulj"><i class="fab fa-twitter fa-sm mr-2"></i>Twitter</a></li>
        <li><a class="text-muted" href="https://medium.com/@andepaulj"><i class="fab fa-medium fa-sm mr-2"></i>Medium</a></li>
        <li><a class="text-muted" href="https://www.youtube.com/user/mrandepaul"><i class="fab fa-youtube fa-sm mr-2"></i>YouTube</a></li>
      </ul>
    </div>
  </div>
</footer>

<!-- Footer scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/js/all.min.js"></script>
