<nav class="navbar navbar-expand-sm bg-dark">
  <a class="navbar-brand pr-5 nav-link" href="{{ '/' | relative_url }}"><i class="fab fa-product-hunt fa-lg"></i></a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#paulNav" aria-controls="paulNav" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars fa-lg text-muted"></i>
  </button>

  <div class="navbar-collapse collapse" id="paulNav" style="">
    <ul class="navbar-nav mr-auto">
      {% for item in site.data.navigation %}
        <li class="nav-item px-2">
          <a class="nav-link py-2" href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
