/*
 * Main SCSS
 */

@import 'bootstrap/bootstrap';

/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }


/*
 * Custom CSS
 */
#main-focus {
  background-image: url('/assets/images/site/main-focus.jpg');
  background-size: cover;
}

body {
  background-color: $site-background;
  font-family: 'Muli';
}

a {
  color: $secondary;
}

a:hover {
  color: $secondary;
}

.nav-link {
  color: $light;
}

.nav-link:hover {
  color: $accent;
}

.btn-outline-highlight {
  color: $accent;
  border-color: $accent;
}

.btn-outline-highlight:hover {
  background-color: $accent;
  border-color: $accent;
  color: $primary;
}

.card:hover .card-body {
  color: $accent !important;
}

.card:hover .card-body.secondary-accent {
  color: $secondary !important;
}
